{:identity/id "did:web:utsushie.etzhayyim.com"
 :identity/actor "utsushie"
 :identity/canonical-document "manifest.edn"
 :identity/external-did-document ".well-known/did.json"
 :identity/canonical-format :edn}
