;; utsushie canonical Datomic/Datascript-compatible schema.
;; :db/ident 属性定義のリスト。手編集禁止。

[#:db{:ident :video/defs, :valueType :db.type/string, :cardinality :db.cardinality/one} #:db{:ident :video/id, :valueType :db.type/string, :cardinality :db.cardinality/one} #:db{:ident :video/lexicon, :valueType :db.type/long, :cardinality :db.cardinality/one}]
